* {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 5rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

h2 {
  font-size: 4rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

h3 {
  font-size: 3rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

p {
  font-size: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.container {
  height: 30vh;
  position: relative;
}

.front {
  width: 50rem;
  position: absolute;
}

.transicao {
  position: absolute;
  opacity: 0;
  transition: 0.5s ease;
}

.container-fluid:hover .transicao {
  opacity: 1;
}

.back img {
  width: 50rem;
}
